@model MTAdmin.Shared.Models.MetaDataModel
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta title="@Model.MetaTitle"/>
<meta name="description" content="@Model.MetaDescription"/>
<meta name="keywords" content="@Model.MetaKeywords" />
<title>@Model.MetaTitle</title>
